.menu{
text-align: center; 
   /*height: 50px;
    border: 3px solid blue; */
    margin: 0 auto;
    direction: rtl;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;


}
.menu ul{
    padding-right: 0px;
    margin: 20px;

}
.menu ul li a{
    text-decoration: none;
    border: 1px solid red;
    padding: 10px;
    transition: all 0.5s ;

}
.menu ul li a:hover{

border-radius: 20px;
background-color: green;

}
.man ul li {
    display: block;
    opacity: 0;
    margin-top: 25px;
    transition: 0.5s;
}
.man:hover  ul li{
opacity: 1;}